$legacy-support-for-ie:true;

@function pxToRem($px) {
  @return $px/10rem;
}

@mixin clearfix {
  @if $legacy-support-for-ie {
    *zoom: 1;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
    overflow: hidden;
  }
}

.clear {
  @include clearfix;
}

.left {
  float: left;
}

.right {
  float: right;
}

.white-bg {
  background-color: #fff;
}

.black-bg {
  background-color: #000;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.active {
  color: #000;
}