@import "base", "common";

* {
  font-family: arial, 'Microsoft YaHei';
}

html {
  font-size: 62.5%;
}

@mixin iconContainer ($left, $bg, $width, $height) {
  cursor: pointer;

  position: absolute;
  top: 0;
  left: $left;
  background: $bg;

  width: $width;
  height: $height;
}

@mixin spriteIcon ($bgLeft, $bgTop, $width:4.4rem, $height:1.2rem) {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$width / 2;
  margin-top: -$height / 2;
  background: url('../images/icons.png') $bgLeft $bgTop no-repeat;
  background-size: 17.2rem auto;
  width: $width;
  height: $height;
}

@mixin arrowStyle($bgLeft, $bgTop) {
  @include iconContainer(50%, #1e1e1e, 8.7rem, 5.4rem);
  margin-left: -4.35rem;
  & .icon {
    @include spriteIcon($bgLeft, $bgTop);
  }
}

@mixin imgLazy($width) {
  .img {
    display: inline-block;
    width: $width;
    height: auto;
    position: relative;

    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1.3rem;
      margin-left: -1.4rem;

      height: 3.5rem;
      background: url('../images/loading.gif') 55% top no-repeat;
      background-size: 3.5rem auto;
      font-size: 1.2rem;
      color: #7f7e7e;
      padding-top: 4rem;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.diext {
  overflow: hidden;
  position: relative;

  header {
    z-index: 777;
    height: 7.5rem;
    position: fixed;
    width: 99.34%;
    top: 0;
    left: 0;

    .left {
      margin-top: 3.1rem;
      margin-left: 1.46%;
      color: #BFBFBF;
      font-size: 1.8rem;
    }

    .logo {
      background: url("../images/icons.png") no-repeat;
      background-position: left center;
      background-size: 17.2rem auto;
      height: 2.5rem;
      width: 3.0rem;
      display: inline-block;
      margin-right: 1.6rem;
      vertical-align: -60%;
    }

    .right {
      margin-top: 3.2rem;
      margin-right: 6rem;
    }

    a {
      display: inline-block;
      color: #c0bfbf;
      font-size: 1.4rem;
      cursor: pointer;
    }

    a:not(:last-child) {
      margin-right: 6.8rem;
      line-height: 2.6rem;
    }

    .scrollDown {
      @include arrowStyle(22%, bottom);
      margin-top: -0.55rem;
    }

    .active {
      color: #000;
    }

    .deleteIcon {
      @include iconContainer(21.875%, #ff4646, 7.6rem, 7.5rem);
      & .icon {
        @include spriteIcon(78%, bottom, 2rem, 2rem);
      }
    }

    .linkIcon {
      @include iconContainer(21.875%, #fff, 9.4rem, 7.5rem);
      margin-left: 7.6rem;
      & .icon {
        @include spriteIcon(right, bottom, 2.3rem, 2.4rem);
      }
    }
  }

  caption.p1 {
    perspective: 1500px;
    overflow: hidden;

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 756;

    .main {
      height: 90%;
      width: 100%;
    }

    .card {
      height: 100%;
      width: 100%;

      position: relative;
      transform-style: preserve-3d;
      backface-visibility: hidden;
    }

    .frame {
      position: absolute;
      top: 38%;
      left: 26.1%;

      transform: translateZ(60px);
      width: 46.9%;
      height: 22%;
      z-index: 444;
    }

    .john {
      position: absolute;
      top: -2%;
      left: 14.6%;

      transform: translateZ(0px);
      width: 70%;
      height: 115%;
      z-index: 222;
    }

    .lower {
      position: absolute;
      top: 68.1%;
      left: 34.4%;

      transform: translateZ(40px);
      width: 31.5%;
      height: 9.45%;
      z-index: 333;
    }
  }

  caption.p2 {
    overflow: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 7.5rem;
    margin-left: -1px;
    z-index: 755;

    .row {
      background-color: #000;
      
      img {
        cursor: pointer;
      }
    }

    @include imgLazy(33.3333%);
  }

  .img-detail {
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 744;

    &.default-color {
      background-color: #1e1e1e;
    }

    .main {
      width: 56.25%;
      height: auto;
      margin: 0 auto;
    }

    @include imgLazy(100%);
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 5.4rem;
    z-index: 800;

    .scrollUp {
      @include arrowStyle(22%, top);
    }
  }
}