@import "base", "common";

* {
  font-family: arial, 'Microsoft YaHei';
}

html {
  font-size: 62.5%;
}

@mixin arrowStyle($bgLeft, $bgTop) {
  position: absolute;
  top: 0;
  left: 50%;
  background: #1e1e1e;
  z-index: 555;

  width: 8.7rem;
  height: 5.4rem;
  margin-left: -4.35rem;

  & .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2.2rem;

    background: url('../images/icons.png') $bgLeft $bgTop no-repeat;
    background-size: 17.2rem auto;
    width: 4.4rem;
    height: 1.1rem;
  }
}

.diext {
  position: relative;
  header {
    height: 7.5rem;

    .left {
      margin-top: 3.1rem;
      margin-left: 2.8rem;
      color: #BFBFBF;
      font-size: 1.8rem;
    }

    .logo {
      background: url("../images/icons.png") no-repeat;
      background-position: left center;
      background-size: 17.2rem auto;
      height: 2.6rem;
      width: 3.0rem;
      display: inline-block;
      margin-right: 1.6rem;
      vertical-align: -60%;
    }

    .right {
      margin-top: 3.2rem;
      margin-right: 6rem;
    }

    li {
      display: inline;
      color: #c0bfbf;
      font-size: 1.4rem;
    }

    li:not(:last-child) {
      margin-right: 6.8rem;
      line-height: 2.6rem;
    }

    .scrollDown {
      @include arrowStyle(22%, bottom);
      margin-top: -0.55rem;
    }
  }

  caption.p1 {
    perspective: 1500px;
    overflow: hidden;

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .card {
      height: 90%;
      width: 70%;
      margin: 0 auto;

      position: relative;
    }

    .frame {
      position: absolute;
      top: 29.8%;
      left: 17.4%;

      transform: translateZ(0px);
      width: 67%;
      height: 31%;
      z-index: 444;
    }

    .john {
      position: absolute;
      top: 0;
      left: 0;

      transform: translateZ(40px);
      width: 100%;
      height: 100%;
      z-index: 333;
    }

    .lower {
      position: absolute;
      top: 68.1%;
      left: 36.6%;

      transform: translateZ(20px);
      width: 30.1%;
      height: 6.3%;
      z-index: 222;
    }
  }

  caption.p2 {
    display: none;

    width: 100%;
    position: absolute;
    top: 7.5rem;
    left: 0;

    .row {
      height: 43.8%;
      width: 100%;
    }

    .img {
      display: inline-block;
      width: 33%;
      height: 100%;
      background: #000;
      position: relative;

      .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -1.3rem;
        margin-left: -1.4rem;

        height: 2.6rem;
        background: url('../images/icons.png') 55% top no-repeat;
        background-size: 17.2rem auto;
        font-size: 1.2rem;
        color: #7f7e7e;
        padding-top: 4rem;
      }
    }

    .img:last-child {
      width: 34%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 5.4rem;

    .scrollUp {
      @include arrowStyle(22%, top);
    }
  }
}