@import "base", "common";

* {
  font-family: arial, 'Microsoft YaHei';
}

html {
  font-size: 62.5%;
}

@mixin iconContainer ($left, $bg, $width, $height) {
  cursor: pointer;

  position: absolute;
  top: 0;
  left: $left;
  background: $bg;

  width: $width;
  height: $height;
}

@mixin spriteIcon ($bgLeft, $bgTop, $width:3.3rem, $height:1.1rem) {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$width / 2;
  margin-top: -$height / 2;
  background: url('../images/icons.png') $bgLeft $bgTop no-repeat;
  width: $width;
  height: $height;
}

@mixin arrowStyle($bgLeft, $bgTop) {
  @include iconContainer(50%, #1e1e1e, 8.7rem, 5.4rem);
  margin-left: -4.35rem;
  & .icon {
    @include spriteIcon($bgLeft, $bgTop);
  }
}

@mixin imgLazy($width) {
  .img {
    display: block;
    float: left;
    width: $width;
    height: auto;
    position: relative;

    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -37.5px;
      margin-left: -37.5px;

      min-width: 75px;
      min-height: 75px;

      background: url('../images/loading.gif') 55% top no-repeat;
      font-size: 12px;
      color: #7f7e7e;
      padding-top: 40px;
      text-align: center;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

@mixin about-page {
  color: #fff;
  h3 {
    margin-top: 8.8rem;
    font-size: 6rem;
  }

  .desc {
    margin-top: 7.8rem;
    line-height: 2.8rem;
    font-size: 1.6rem;
  }

  .contact {
    margin-top: 4rem;
    font-size: 1.6rem;
  }

  strong {
    color: #ff4646;
  }

  a:hover {
    text-decoration: underline;
  }
}

.diext-p {
  overflow: hidden;
  position: relative;

  header {
    z-index: 777;
    height: 7.5rem;
    position: fixed;
    width: 99.34%;
    top: 0;
    left: 0;

    .left {
      position: relative;
      top: 50%;
      margin-top: -1.5rem;
      margin-left: 1.46%;
      cursor: pointer;

      background: url("../images/logo.png") no-repeat;
      background-position: left center;
      height: 3rem;
      width: 14.8rem;
      margin-right: 1.6rem;
    }

    .right {
      position: relative;
      top: 50%;
      margin-top: -1.25rem;
      margin-right: 6rem;
    }

    a {
      display: inline-block;
      color: #c0bfbf;
      font-size: 1.4rem;
      cursor: pointer;
    }

    a:not(:last-child) {
      margin-right: 6.8rem;
      line-height: 2.6rem;
    }

    .scrollDown {
      @include arrowStyle(26%, bottom);
      margin-top: -0.55rem;
      margin-left: -1.5rem;
    }

    .active {
      color: #000;
    }

    .deleteIcon {
      @include iconContainer(21.875%, #ff4646, 7.6rem, 7.5rem);
      & .icon {
        @include spriteIcon(78%, bottom, 2.6rem, 2.6rem);
        margin-left: -1.4rem;
      }
    }

    .linkIcon {
      @include iconContainer(21.875%, #fff, 9.4rem, 7.5rem);
      margin-left: 7.6rem;
      & .icon {
        @include spriteIcon(right, bottom, 2.6rem, 2.6rem);
      }
    }
  }

  caption.p1 {
    perspective: 1500px;
    overflow: hidden;

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 756;

    .main {
      height: 90%;
      width: 100%;
    }

    .card {
      height: 100%;
      width: 100%;

      position: relative;
      transform-style: preserve-3d;
      backface-visibility: hidden;
    }

    .frame {
      position: absolute;
      top: 38%;
      left: 26.1%;

      transform: translateZ(60px);
      width: 46.9%;
      height: 22%;
      z-index: 444;
    }

    .john {
      position: absolute;
      top: -2%;
      left: 14.6%;

      transform: translateZ(0px);
      width: 70%;
      height: 115%;
      z-index: 222;
    }

    .lower {
      position: absolute;
      top: 68.1%;
      left: 34.4%;

      transform: translateZ(40px);
      width: 31.5%;
      height: 9.45%;
      z-index: 333;
    }
  }

  caption.p2 {
    overflow: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 7.5rem;
    margin-left: -1px;
    z-index: 755;

    .img {
      background-color: #000;
      overflow: hidden;
    }

    .row {
      img {
        opacity: 0;
        cursor: pointer;
      }
    }

    @include imgLazy(33.3333%);
  }

  .img-detail {
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 744;
    background-color: #000;
    padding-top: 7.5rem;

    .main {
      width: 56.25%;
      height: auto;
      margin: 0 auto;
    }

    .about {
      @include about-page;
    }

    @include imgLazy(100%);
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 5.4rem;
    z-index: 800;

    .scrollUp {
      @include arrowStyle(26%, top);
      margin-left: -1.5rem;
    }
  }
}

.diext-m {
  position: relative;

  header {
    padding: 2.5rem 4.8rem 0 2.8rem;
    line-height: 2.5rem;
    position: relative;
    .logo {
      cursor: pointer;
      margin-top: -0.5rem;
      content: '';
      background: url("../images/logo.png") no-repeat;
      background-position: left top;
      height: 3rem;
      width: 14.8rem;
    }

    .right {
      font-size: 1.4rem;

      a:not(:first-child) {
        margin-left: 6.8rem;
      }
    }

    a {
      color: #c0bfbf;
      cursor: pointer;
    }

    .delete-icon {
      margin-left: 2.4rem;
      width: 7.6rem;
      height: 7.6rem;
      background: #ff4646;
      margin-top: -3.8rem;
      position: relative;
      padding-bottom: 0.8rem;
      cursor: pointer;

      & .icon {
        @include spriteIcon(78%, bottom, 2.6rem, 2.6rem);
        top: 58%;
      }
    }

    .active {
      color: #000;
    }
  }

  .main {
    position: relative;
    z-index: 110;
    .content {
      .imgs {
        text-align: center;
        margin: 15.4rem 2.8rem 0;
      }

      img {
        height: 100%;
      }

      .target {
        width: 91.5625%;
      }

      .desc {
        margin: 6rem;
        width: 81.875%;
      }
    }
  }

  .thumb {
    position: relative;
    z-index: 110;
    margin-top: 29.4rem;
    .img {
      background: #000 repeat-x;
      position: relative;

      .loading {
        display: inline-block;

        position: absolute;
        top: 50%;
        left: 50%;

        background: url("../images/loading.gif") center top no-repeat;
        background-size: 35px 35px;

        margin-top: -37.5px;
        margin-left: -37.5px;

        min-width: 75px;
        min-height: 75px;

        z-index: 222;

        font-size: 1.2rem;
        color: #7f7e7e;
        padding-top: 40px;
        text-align: center;
      }
    }

    img {
      width: 100%;
      height: 100%;
      z-index: 111;
    }

    .default {
      height: 43.8rem;
    }

    .title {
      cursor: pointer;
      padding-top: 2.4rem;
      text-align: center;
      font-size: 1.8rem;
      color: #8f8f8f;
    }

    .content {
      margin-top: 2.4rem;
    }
  }

  .img-detail {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;

    position: absolute;
    z-index: 100;

    .content {
      background-color: #000;
      height: 100%;
    }

    .content.about {
      padding: 8.8rem 3.8rem 0 3.2rem;
      @include about-page;
    }

    .content.detail {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
      }

      .img {
        position: relative;
        .loading {
          display: inline-block;

          position: absolute;
          top: 50%;
          left: 50%;

          background: url("../images/loading.gif") center top no-repeat;
          background-size: 35px 35px;

          margin-top: -37.5px;
          margin-left: -37.5px;

          min-width: 75px;
          min-height: 75px;

          z-index: 222;

          font-size: 1.2rem;
          color: #7f7e7e;
          padding-top: 40px;
          text-align: center;
        }
      }
    }
  }
}